article 
{
	height: 250px;
	margin: auto;
	width: 1000px;
}
article h2
{
	color: white;
	display: block;
	font-size: 18;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: auto;
}
article p
{
	color: white;
	display: inline-block;
	float: left;
	font-size: 12;
	text-align: justify;
	margin: auto;
	width: 450px;
}
article div
{
	background:url(../imagenes/nosotros.png);
	float: right;
	height: 311px;
	padding-top: 35px;
	padding-left: 40px;
	position: absolute;
	top: 500px;
	left: 600px;
	width: 407px;	
	margin: auto;
}
body 
{
	font-size: 16px;
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	font-family: 'Roboto', sans-serif;
}
header 
{
	background-color:#29292a;
	height:80px;
	margin:  auto;
	width:100%;
}
#slide
{	
	margin: auto;
	height: 450px;
	vertical-align: middle;
	width: 1000px;
}
#slide img 
{
	margin-top: 20px;
}


nav 
{
	margin:  auto;
	width: 1000px;
}
nav a 
{
	color: white;
	text-decoration: none;
}
nav a:hover
{
	color: #f64747;
	text-decoration: none;
}
nav figure 
{
	background-color: #f64747;
	display: inline-block;
	height: 100px;
	text-align: center;
	vertical-align: middle;
	width: 130px;
}
nav #menu_izq 
{
	color: white;
	display: inline-block;
	margin-right: 2em;
}
nav #menu_izq li 
{
	display: inline-block;
	text-decoration: none;
	padding: 1em;
}
nav #menu_der 
{
	color: white;
	display: inline-block;
}
nav #menu_der li 
{
	display: inline-block;
	text-decoration: none;
	padding: 1em;
}
#nosotros
{
	background-color: #f64747;
	width: 100%;
	margin: auto;
}
#servicios 
{
	height: 600px;
}